<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Inicio de sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <form (ngSubmit)="IniciarSesion()" #f="ngForm">
            <ion-item class="items">
                <ion-label position="floating">
                    <ion-text color="light">Email</ion-text>
                </ion-label>
                <ion-input style="--color: black" [(ngModel)]="usuario.email" name="email" type="text" required></ion-input>
            </ion-item>

            <ion-item class="items">
                <ion-label position="floating">
                    <ion-text color="light">Contraseña</ion-text>
                </ion-label>
                <ion-input style="--color: black" [(ngModel)]="usuario.clave" name="clave" type="password" required></ion-input>
            </ion-item>

            <ion-button class="botones" expand="block" fill="outline" type="submit">
                <ion-text color="dark"> Iniciar sesión </ion-text>
            </ion-button>
        </form>

        <ion-spinner *ngIf="apretado" name="crescent" style="display: block; margin:auto;width: 3cm; height: 3cm;"></ion-spinner>
    </div>
</ion-content>