<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Registrarse</h2>
                    <form [formGroup]="registroForm" (ngSubmit)="irALogin()" class="register-form" id="register-form" enctype="multipart/form-data">
                        <div class="form-group">
                            <input [class.is-invalid]="nombreValido" formControlName="nombre" class="form-control" type="nombre" id="nombre" name="nombre" placeholder="Ingrese su nombre" autocomplete="off" />
                            <small *ngIf="nombreValido" class="text-danger">Ingrese su nombre.</small>
                        </div>
                        <div class="form-group">
                            <input [class.is-invalid]="apellidoValido" formControlName="apellido" class="form-control" type="apellido" id="apellido" name="apellido" placeholder="Ingrese su apellido" autocomplete="off" />
                            <small *ngIf="apellidoValido" class="text-danger">Ingrese su nombre.</small>
                        </div>
                        <div class="form-group">
                            <input [class.is-invalid]="emailValido" formControlName="email" class="form-control" type="email" id="email" name="email" placeholder="Ingrese su email" autocomplete="off" />
                            <small *ngIf="emailValido" class="text-danger">Ingrese su correo electrónico.</small>
                        </div>
                        <div class="form-group">
                            <input [class.is-invalid]="passwordValido" formControlName="password" class="form-control" type="password" id="password" name="password" placeholder="Ingrese su password" autocomplete="off" />
                            <small *ngIf="passwordValido" class="text-danger">Ingrese su password.</small>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button class="ladda-button btn btn-success btn-block" id="btn-Registrarse" dir="ltr" data-style="slide-down" type="submit">
                                        <span class="ladda-label"><strong>Registrarse</strong></span>
                                        <span class="ladda-spinner"></span>
                                        <div class="ladda-progress" style="width: 0px"></div>
                                        </button>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="assets/vendor/images/signup-image.jpg" alt="sing up image"></figure>
                    <a [routerLink]="['/login']" class="signup-image-link">Ya tengo una cuenta.</a>
                </div>
            </div>
        </div>
    </section>


</div>