.marco {
    border: 5px outset red;
    text-align: center;
    height: 10cm;
}

.contenedor {
    border-radius: 3px;
    background-color: #eee;
    padding: 2rem;
    margin: 0 1rem;
    box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
}